Repository h-yoshikawa44/ch-testimonial-page: changes, and which lefthook commands are due for each by the changed paths.
All: html-fixer, css-fixer, formatter

html-fixer:
  run: 'npx markuplint --fix --problem-only "{staged_files}"
  
    npx prettier --write --log-level=error "{staged_files}"
  
    '
  stage_fixed: true
  skip:
  - merge

css-fixer:
  run: 'npx stylelint --fix --quiet "{staged_files}"
  
    npx prettier --write --log-level=error "{staged_files}"
  
    '
  stage_fixed: true
  skip:
  - merge

formatter:
  run: npx prettier --write --log-level=error "{staged_files}"
  stage_fixed: true
  skip:
  - merge

Merge pull request #16 from h-yoshikawa44/feature/15_lib-update
  assets/google-testimonial-dioFd6a7.png
  assets/index-CpQi1L_W.js
  assets/index-DHsa-WG_.css
  assets/index-s5t3hbQA.css
  assets/meta-testimonial-DfY5gK8s.png
  index.html
Due: html-fixer, formatter

feat: リセットCSSを最近使っているものに更新(#17)
  css/reset.css
Due: css-fixer

fix: Lightning CSSのブレイクポイントの仕様が変わったので調整(#17)
  css/style.css
Due: css-fixer

settings: VSCode上でマークダウンファイルに対してPrettierが動作しないようにした(#17)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .vscode/settings.json
Due: formatter

Merge pull request #18 from h-yoshikawa44/feature/17_update-reset-css
  assets/index-B9KXMGn5.js
  assets/index-DHsa-WG_.css
  assets/index-g-eUHmd_.css
  index.html
Due: html-fixer, formatter

update: Node.jsのアプデ 22.14.0 -> 24.14.0(#19)
  .node-version
  README.md
  mise.toml
  package.json
Due: formatter

update: LightningCSS系のアプデ(#19)
  package-lock.json
  package.json
Due: formatter

update: Viteのアプデ 6.2.3 -> 8.0.1(#19)
  package-lock.json
  package.json
Due: formatter

update: Markuplintのアプデ 4.11.8 -> 4.14.1(#19)
  package-lock.json
  package.json
Due: formatter

update: Prettierのアプデ 3.5.3 -> 3.8.1(#19)
  package-lock.json
  package.json
Due: formatter

update: StyleLint系のアプデ + fix(#19)
  css/reset.css
  css/style.css
  package-lock.json
  package.json
Due: css-fixer, formatter

update: css-treeをバグが改善されたバージョンにアプデ(#19)
  package-lock.json
  package.json
Due: formatter

update: Lefthookのアプデ 1.11.5 -> 2.1.4(#19)
  package-lock.json
  package.json
Due: formatter

update: npm audit fix(#19)
  package-lock.json
Due: formatter

update: GHAのアクションを最新化 + safe-chain導入(#19)
  .github/workflows/develop.yml
  .github/workflows/production.yml
Due: formatter

Merge pull request #20 from h-yoshikawa44/feature/19_lib-update
  assets/index-B9KXMGn5.js
  assets/index-BTrW5Gwq.js
  assets/index-BVNrvx2k.css
  assets/index-g-eUHmd_.css
  index.html
Due: html-fixer, formatter

Path conditions:
  html-fixer: any of: *.html
  css-fixer: any of: css/*.css
  formatter: any of: *.{html,json,yml}
